.body{
    background-color:#FEFFC4;
    color: rgb(235, 111, 111);
    font-family: Arial, Helvetica, sans-serif;
}
/* contenedor de las tarjetas*/ 
.card-container{
    background-color: #FEFFC4;
    display:flex;
    
    justify-content:center; /* centra horizontalmente */
    gap: 35px; /* espacio entre tarjetas */
    flex-wrap: wrap; /* permiten q se acomode en pantallas chicas*/
    padding: 3px;
}
/* estilos para la tarjeta*/
.card{
    width: 18rem;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out,box shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255,255, 255,255,0.1);
}

/* efecto hover em la tarjeta*/
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 16px rgba(255,255, 255,255,0.2);
}
/*imnagente dentro del card */
.card img {
 
    width: 100%;
    height: 90%;
    object-fit: cover;
}
/*boton estilizado */
.card .btn{
justify-content: center;
background-color: rgb(65, 150, 131);
color: black;
border-radius:  0px;
transition:background 0.3s ease-in-out;

}
.card .boton-img{
    height: 45px;
    width: 50px;
    justify-content: right;
background-color: aquamarine;
border: none;
border-radius:  0px;
transition:background 0.3s ease-in-out;

}
.card .btn:hover{
    background-color: rgb(73, 157, 230);
    
}
/*reposividad para pantallas chicas */
@media(max-width:600px){
    .card-container{
        flex-direction: column; /*cambia a columnas */
        align-items: center; /* centra en pantallas chicas */
    }
}
/*Icon favorito  */
/* From Uiverse.io by andrew-demchenk0 */ 
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}
