.navbar{
    background-color: #662222;
}
.carro{
    margin-right: 45px;
}
.botonIni{
    background-color: #ffffff;
    color: #662222;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}