
body{
    background-color:#FEFFC4;
    color: rgb(235, 111, 111);
    font-family: Arial, Helvetica, sans-serif;
}
/* contenedor de las tarjetas*/ 
.card-container{
    background-color: #FEFFC4;
    display:flex;
    
    justify-content:center; /* centra horizontalmente */
    gap: 35px; /* espacio entre tarjetas */
    flex-wrap: wrap; /* permiten q se acomode en pantallas chicas*/
    padding: 5px;
}
/* estilos para la tarjeta*/
.card{
    width: 18rem;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    margin-top: auto;
    overflow: hidden;
    transition: transform 0.3s ease-in-out,box shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255,255, 255,255,0.1);
}

/* efecto hover em la tarjeta*/
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 16px rgba(255,255, 255,255,0.2);
}
/*imnagente dentro del card */
.card img {
  
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*boton estilizado */
.card .btn{
margin-top: auto;
justify-content: center;
background-color: rgb(65, 150, 131);
color: black;
transition:background 0.3s ease-in-out;

}
.card .boton-img{
height: 45px;
width: 50px;
justify-content: left;
background-color: aquamarine;
border: none;
border-radius:  0px;
transition:background 0.3s ease-in-out;

}
.card .btn:hover{
    background-color: rgb(73, 157, 230);
    
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; /* Elimina la imagen por defecto de Bootstrap */
  color: black;            /* Asegura que el texto/flecha sea negra */
  font-size: 2rem;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '‹'; /* Izquierda */
  color: black;
  font-size: 2rem;
  display: inline-block;
  font-weight: bold;
}

.carousel-control-next-icon::after {
  content: '›'; /* Derecha */
}

/*reposividad para pantallas chicas */
@media(max-width:600px){
    .card-container{
        flex-direction: column; /*cambia a columnas */
        align-items: center; /* centra en pantallas chicas */
    }
}

/*Icon favorito  */
/* From Uiverse.io by andrew-demchenk0 */ 
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}
.btn {
 display: flex;
 padding: 0.9rem 1.8rem;
 font-size: 16px;
 font-weight: 700;
 color: rgb(0, 0, 0);
 border: 0px solid aquamarine;
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
 gap:none;

}

.btn::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(133, 255, 178);
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.btn:hover::before {
 transform: translateX(0);
}
.filtros{
  background-color: #F5DAA7;
}