<div class="body">
<h5>Sobre Flux </h5>

<P align="center">
    ¡Descubre tu estilo único con Flux! 💫  

En Flux, no solo creamos ropa e importamos, sino experiencias que te hacen brillar. Cada prenda está diseñada para acompañarte en tu día a día con comodidad, tendencia y actitud.  
<br>
🌟 Moda que fluye contigo
<br>
🌟 Calidad y diseño en cada detalle  
<br>
🌟 Colecciones pensadas para vos  
<br>
Renová tu guardarropa y expresá tu esencia con Flux. ¡Te esperamos en nuestras tiendas o en nuestra web!  
 #TuEstiloTuFlux  

    <br>
    Nos puedes encontrar en : 
    <br>
    <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.743270253446!2d-67.98822642406164!3d-38.92984507171716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses!2sar!4v1746703262154!5m2!1ses!2sar"
    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
</P>
</div>