<p>contacto works!</p>
<H2 align="center">Ubicacion</H2>
<div class="medio">
    
<iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.743270253446!2d-67.98822642406164!3d-38.92984507171716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses!2sar!4v1746703262154!5m2!1ses!2sar"
    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
     <div class="medio2"> 
    <form>  
    <label for="exampleFormControlInput1" class="form-label">Correo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" width="200px" height="100">
</form>
</div>

<div align="center"> 
    <label for="comments" class="form-label">Reseña <div class="rating">
            <input value="5" name="rate" id="star5" type="radio">
            <label title="text" for="star5"></label>
            <input value="4" name="rate" id="star4" type="radio">
            <label title="text" for="star4"></label>
            <input value="3" name="rate" id="star3" type="radio" checked="">
            <label title="text" for="star3"></label>
            <input value="2" name="rate" id="star2" type="radio">
            <label title="text" for="star2"></label>
            <input value="1" name="rate" id="star1" type="radio">
            <label title="text" for="star1"></label>    
        </div>
        
     </label>
     </div>
     <p align="center">
        <textarea id="comments" name="comments" rows="5" cols="33"></textarea>
        
     </p>
     
   
  
    



    